.todoListMain .header input {
    padding: 20px;
    font-size: 20px;
    border: 2px solid #FFF;
    width: 300px;
    font-family: "Trebuchet MS"
  }
  .todoListMain .header button {
    padding: 20px;
    font-size: 18px;
    margin: 10px;
    width: 80px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
    font-family: "Trebuchet MS";
  }


  .todoListMain .modifier button {
    padding: 0 10px 0 5px;
    font-size: 14px;
    margin: 6px;
    width: 65px;
    height: 40px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
  }

  .todoListMain .modifier button:hover{
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer
  }

  .todoListMain .header button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
  }
  .todoListMain .theList {
    list-style: none;
    padding-left: 0;
    font-size: 25px;
    width: 600px;
  } 
  .todoListMain .theList li {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;

    transition: background-color .2s ease-out;
  }

  .todoListMain .theList li:hover {
    background-color: #FFAEF4;
    cursor: pointer;
  }

  ul.theList {
    padding: 0;
  }

  .buttons-container {
    background-color: #0066FF;
    color: #FFF;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
  }
